.footer {
  background: #444444;
  padding: 65px 20px;
}

.content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  max-width: 1380px;
  margin: 0 auto;
}

.left {
  display: grid;
  grid-auto-flow: column;
  gap: 120px;
}

.left > div {
  display: grid;
  gap: 30px;
  align-content: center;
}

.left > div > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.socials {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.left > hr {
  width: 1px;
  height: 100%;

  background: white;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 105px;
  text-align: end;
}

.right > div {
  display: grid;
  gap: 19px;
  align-content: start;
}

.right > div > * {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 30px 15px;
  }

  .content {
    grid-auto-flow: row;
    justify-items: unset;
    justify-content: unset;
    text-align: left;
    gap: 20px;
  }

  .left {
    grid-auto-flow: row;
    gap: 20px;
  }

  .left > div {
    gap: 20px;
    align-content: start;
  }

  .left > hr {
    width: 100%;
    height: 1px;
  }

  .right {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: left;
  }
}
