.wrap {
  display: grid;
  gap: 100px;

  max-width: 1420px;
  margin: 100px auto 145px;
  padding: 0 20px;
}

.wrap > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  color: #000000;
}
